/*
*	CÀRITES MENORCA
*	---------------
*	Basado en Foundation 6.1.2
*	http://foundation.zurb.com/sites/docs/
*
*	Autor: Hector Asencio @MemorySoft
* Copyright Memory Soft
* License: GNU General Public License v2 or later
* Versión: 0.1
*
*/

/*	GENERALES
		Estilos relativos al elementos HTML
		que han sidfo reajustados
***********************************************************************/

body {
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 1.2rem;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #999;
  line-height: 0;
}
li h1, li h2, li h3, li h4, li h5, li h6 {
	margin-bottom: 0;
}

a {
  color: #D51834;
  text-decoration: none;
}
a:hover {
  color: #333;
  opacity: .7;
}
a:focus {
  color: #D51834;
}

p a {
	border-bottom: 1px solid #D51834;
}
p a:hover {
  border-bottom: 1px solid #fff;
}

ul {
	margin-bottom: 3rem;
}
ul ul, ol ul, ul ol, ol ol {
  margin-left: 0;
  list-style-type: none;
}

p {
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

/* MISCELANEA */
::selection {
	background: #D51834;
	color: #fff;
}
::-moz-selection {
	background: #D51834;
	color: #fff;
}

dl.sitemap h5 {
	margin-bottom: 0;
}
dl.sitemap dd {
	margin-bottom: 1.3rem;
}

/*	REAJUSTANDO FOUNDATION
		Agrupa los elementos del framework
		que han sido modificados o extendidos
***********************************************************************/

/* GRID */
.row {
  margin-bottom: 4em;
}

/* NAVIGATION */
nav {
  border-bottom: 1px solid #efefef;
  margin-bottom: 3em;
}
.top-bar {
  padding: 0;
}
.top-bar,
.top-bar ul {
  background-color: #fff;
}
.top-bar .row {
  margin-bottom: 0;
}
.top-bar-title {
  color: #D51834;
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.menu {
  display: block;
}
.menu-item {
  position: relative;
}
.menu .menu-item a {
  display: block;
  padding: 1.5rem 1rem;
  line-height: 1;
  color: #666;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
.sub-menu {
  display: none;
  list-style: none;
  width: 200px;
  position: absolute;
  margin-top: 3.8rem;
  margin-left: 0;
  top: 0;
  left: 0;
  box-shadow: 0 0 1px #ccc;
}
.sub-menu .menu-item a {
  background:  #D51834;
  color: #fff;
}
.menu .menu-item:hover .sub-menu {
  display: inherit;
  z-index: 1;
}
.top-bar .menu .current_page_item {
  border-bottom: 3px solid #D51834;
}
.top-bar .menu .current_page_item a {
  color: #D51834;
  margin-top: 3px;
}

ul.menu-horizontal {
  margin: 0;
}
.menu-horizontal li {
  display: inline;
  float: left;
}
.menu-horizontal li a {
  display: block;
  padding: .7rem 1rem;
}

.menu-disparador {
  width: auto;
  float: right;
  cursor: pointer;
  font-size: 1rem;
  padding: 1.5rem;
}
@media screen and (max-width: 69.313em) {
  .top-bar-right {
    width: 100%;
  }
  .top-bar-menu {
    display: none;
  }
  .menu-horizontal.menu-superior {
    float: left;
    width: 100%;
    margin-left: 1rem;
  }
  .menu-principal li {
    display: block;
    margin-right: 0;
  }
  .top-bar .menu .current_page_item {
    border-bottom: none;
    border-left: 10px solid #D51834;
  }
  .menu .menu-item a {
    padding: 1.5rem .7rem;
    border-bottom: 1px solid #ccc;
  }
  .top-bar .menu .current_page_item a {
    margin-top: 0;
  }
  .sub-menu {
    display: block;
    margin-top: 0;
    margin-left: 9rem;
    border-left: 1px solid #ccc;
    border-bottom: none;
  }
  .menu.align-right > li {
    float: none;
  }
}
@media screen and (min-width: 69.313em) {
  .menu-disparador {
    display: none;
  }
  .top-bar-menu {
    display: normal;
  }
}

.pagination a {
  color: #D51834;
  padding: 0.35em .8em;
  border: 1px solid #D51834;
  font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
  font-size: .8rem;
}
.pagination a:hover {
  background: #D51834;
  color: #fff;
}
.pagination-prev {
	float: left;
}
.pagination-next {
	float: right;
}
.pagination-next a::after,
.pagination-next.disabled::after {
  content: '';
}

/* BUTTONS */
.button, button {
  background-color: #D51834;
  letter-spacing: .5px;
  border: 1px solid #D51834;
  transition: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
}
.button:hover,
.button:focus {
  background: #D51834;
}
button:hover,
button:focus {
	opacity: .5;
}

button.close-button {
	background: transparent;
	border: none;
}
button.close-button:hover {
	color: #fff;
}

.button.invertido {
  background-color: #fff;
  color: #D51834;
  border: 1px solid #fff;
}
.button.invertido.small {
  font-size: 0.75rem;
}

.button.bordeado--rojo {
  background-color: transparent;
  color: #D51834;
  border: 1px solid #D51834;
}

.button.bordeado--blanco {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.boton-secundario {
  padding: .4rem .8rem;
  background-color: #fff;
  letter-spacing: .5px;
  border: 1px solid #D51834;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: .6rem;
}
.boton-secundario:hover,
.boton-secundario:active {
  padding: .4rem .8rem;
  background-color: #fff;
  letter-spacing: .5px;
  border: 1px solid #333;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  font-size: .6rem;
}

.boton-cerrar {
  position: fixed;
	color: #fff;
	background: #D51834;
	padding: .85em 1em;
	border-left: none;
  left: 0;
  top: 50%;
  font-size: rem;
  line-height: 1rem;
  cursor: pointer;
	z-index: 9999;
}
.boton-cerrar:hover {
	background: #333;
	color: #fff;
}

.boton-flotante,
.boton-flotante--invertido {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
  background: #fff;
  margin: 0;
  z-index: 99999;
}
.boton-flotante--invertido {
  background: #D51834;
}
.boton-flotante i,
.boton-flotante--invertido i {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  color: #D51834;
}
.boton-flotante--invertido i {
  color: #fff;
}
@media screen and (max-width: 55.125em) {
	.boton-cerrar {
		width: 100%;
	  left: 0;
	  top: 93.5%;
		border: none;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
	}
	.boton-cerrar:hover {
		opacity: 1;
	}
}

.boton-iconizado i {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 .5rem;
    line-height: 2.5rem;
    display: inline-block;
    text-align: center;
    color: #D51834;
}

/* LABELS */
.label {
	margin: 0 .5rem .5em 0;
	background: #d51834;
	text-transform: uppercase;
	font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
	font-weight: 300;
	font-weight: bold;
	letter-spacing: 1px;
}

/* REVEAL */
.reveal.full {
	padding-top: 3rem;
}
.reveal.full.reveal-formulario {
  padding: 0;
}
.reveal-formulario .close-button {
  position: absolute;
  left: 1rem;
  top: 1.1rem;
  color: #ffffff;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1;
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
.reveal-navigation {
	height: 3.5rem;
	background: #333;
}
.reveal-title {
	position: absolute;
  right: 1rem;
  top: 1rem;
  color: #ffffff;
  line-height: 1;
  font-size: 1rem;
  font-weight: 700;
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  text-transform: uppercase;
}

/* FORMS */
.radio-button-group label {
	display: inline;
}
.radio-button-group label input {
	margin: 0 .5rem;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.radio-button-group label {
		display: block;
	}
}

/* CALLOUTS */
.callout-enlinea {
  padding: .5rem;
}
.callout-enlinea-texto {
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0 1rem
}

/*	PLUGINS
		Estilos que resetean o extienden clases de los plugins añadidos:
		Gridforms: https://github.com/kumailht/gridforms
		OwlCarousel: http://owlgraphic.com/owlcarousel/
***********************************************************************/

/* GRID FORMS */
.grid-form [type="text"],
.grid-form [type="password"],
.grid-form [type="date"],
.grid-form [type="datetime"],
.grid-form [type="datetime-local"],
.grid-form [type="month"],
.grid-form [type="week"],
.grid-form [type="email"],
.grid-form [type="number"],
.grid-form [type="search"],
.grid-form [type="tel"],
.grid-form [type="time"],
.grid-form [type="url"],
.grid-form [type="color"],
.grid-form textarea {
    box-shadow: none;
}
.grid-form fieldset {
    margin-bottom: 1.3rem;
}
.grid-form fieldset legend {
    margin-bottom: 0;
    font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
}
.grid-form [data-row-span] [data-field-span] label:first-child {
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 300;
}
.grid-form .contenido-estatico {
	font-size: 1.3rem;
	font-weight: bolder;
	margin-bottom: .6rem;
}
.grid-form .obligatorio {
	color: #D51834;
}
.grid-form button {
	float: right;
}
.grid-form [data-row-span] [data-field-span]:hover {
	background: #ffedef;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.grid-form button {
		margin-top: 2rem;
		float: none;
	}
}

/*	COMPONENTES
		Todos los elementos nuevos que hemos creado
		y que no forman parte del framework
***********************************************************************/

/* MENUS */
.menu-centrado {
	display: table;
	margin: 0 auto;
}
.menu-centrado ul.menu {
	min-width: 800px;
}
.menu-centrado ul.menu li {
	display: inline;
	float: left;
}

.menu-centrado ul.menu li a {
	text-transform: uppercase;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.menu-centrado ul.menu {
		min-width: 390px;
	}
	.menu-centrado ul.menu li {
		display: inline;
		float: none;
	}
}

.filtros-categorias {
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	padding: 1.3rem 0;
}

/* TEXTO */
.titulo {
	margin-bottom: 1em;
}

/* ICONOS */
.redes-sociales-item {
	margin-right: 1rem;
}

/* FRANJAS */
.franja {
  padding: 4em 0;
  margin-bottom: 4em;
}
.franja.texto-centrado img {
	margin-bottom: 1rem;
}
.franja .texto-destacado:last-child {
	margin-bottom: 0;
}

.franja--estrecha {
  padding: .3em 0;
  margin-bottom: 4em;
}
.franja--estrecha .button,
.franja--estrecha .menu {
  margin: .5rem 0;
}
.franja--estrecha p {
	margin: .9rem 0;
}

/* ELEMENTO MULTICOLUMNA */
.elemento-multicolumna {
	margin-bottom: 1rem;
	display: block;
	text-decoration: none;
}
.elemento-multicolumna-imagen {
	max-width: none;
}
.elemento-multicolumna-extracto {
	color: #333;
}
.elemento-multicolumna-seccion {
  display: table-cell;
  vertical-align: top;
}
.elemento-multicolumna-seccion:first-child {
  padding-right: 1rem;
}
.elemento-multicolumna-seccion:last-child:not(:nth-child(2)) {
  padding-left: 1rem;
}
.elemento-multicolumna-seccion.middle {
  vertical-align: middle;
}
.elemento-multicolumna-seccion.bottom {
  vertical-align: bottom;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.stack-for-small .elemento-multicolumna-seccion {
	  display: block;
	  padding: 0;
	  padding-bottom: 1rem;
	}
  .stack-for-small .elemento-multicolumna-imagen {
    width: 100%;
  }
}

.page-template-caritas .elemento-multicolumna-imagen {
  max-width: 280px;
}

/* ARTICULOS */
.articulo {
	margin-bottom: 2rem;
	display: block;
	text-decoration: none;
}
.articulo-titulo {
	text-transform: unset;
	padding-top:15px;
	line-height:30px;
}

.post img.wp-post-image,
.proyecto img.wp-post-image {
	width: 100%;
  max-width: 480px;
  height: auto;
}
.articulo-extracto {
	color: #333;
}
.articulo-seccion {
  display: inline;
  vertical-align: top;
  float: left;
}
.articulo-seccion--vertical {
	display: block;
	text-align: center;
  	width: 100%;
}

.espacio {
	padding-bottom:20px;
}

.articulo-seccion:first-child {
  padding-right: 2rem;
}
.articulo-seccion--vertical:first-child {
  padding-right: 0;
}
.articulo-seccion:last-child:not(:nth-child(2)) {
  padding-left: 1rem;
}
.articulo-seccion.middle {
  vertical-align: middle;
}
.articulo-seccion.bottom {
  vertical-align: bottom;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.stack-for-small .articulo-seccion {
	  display: block;
	  padding: 0;
	  padding-bottom: 1rem;
	}
  .stack-for-small .articulo-imagen {
    width: 100%;
  }
}

/* COLABORACION */
.colaboracion-elemento:hover {
	display: block;
	box-shadow: 0 0 8px #afafaf;
}
.colaboracion-elemento h3 {
	color: #D51834;
	line-height: 2.2rem;
	margin: 2rem 0 0 0;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.colaboracion-elemento:hover {
		box-shadow: none;
	}
	.colaboracion-elemento h3 {
		font-size: 2rem;
		line-height: 2.2rem;
	}
	.colaboracion-elemento p {
		padding: 0 4rem;
	}
}
.colaboracion-elemento img {
	margin-bottom: 1rem;
}
.colaboracion-elemento .button {
	display: block;
}

/* DONATIVOS */
.donativos-selector .input-group-field {
  border-radius: 0;
  border: none;
  height: 4.5rem;
  font-size: 2.1rem;
  font-weight: bolder;
  color: #D51834;
  text-align: center;
}
.donativos-pago label {
		display: inline;
		color: #fff;
		text-transform: uppercase;
		font-size: 1rem;
		margin-left: .5rem;
}
.donativos-pago input {
		margin-right: .5rem;
}
.donativos-titulo {
	background: #D51834;
	color: #ffffff;
	font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
  line-height: 2.7rem;
  font-size: 2.1rem;
  border: none;
  font-weight: 300;
}
.donativos-boton button {
	border: 1px solid #fff;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.donativos-selector .input-group-field {
    height: 2.5rem;
    font-size: 1.2rem;
	}
	.donativos-titulo {
	  line-height: 2.7rem;
	  font-size: 1.6rem;
	}
}

/* TARJETAS */
.tarjeta {
  overflow: hidden;
  background: #D51834;
  color: #333;
  margin-bottom: 2rem;
  position: relative;
}
.tarjeta-titulo {
  width: 80%;
	font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.tarjeta-contenido {
  font-weight: 300;
}
.tarjeta-accion {
	overflow: hidden;
	background: #D51834;
  padding: 1.3rem;
  border-top: 1px solid #ccc;
  position: relative;
  bottom: 0;
}
.tarjeta-accion a {
	color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.tarjeta-accion a i {
	font-size: 1.5rem;
}
.tarjeta-accion a:hover {
	opacity: .5;
}
.tarjeta-imagen {
  position: relative;
}
.tarjeta-imagen .tarjeta-titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.3rem;
  color: #fff;
}
.tarjeta-imagen img {
  border-radius: 2px 2px 0 0;
}

/* COLECIONES */
.coleccion {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.coleccion-elemento {
  position: relative;
  background-color: #fff;
  line-height: 2rem;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.coleccion-elemento:last-child {
  border-bottom: none;
}
.coleccion-titulo {
  width: 85%;
  color: #D51834;
	font-size: 1.2rem;
  line-height: 1.1;
}
.coleccion-fecha {
  margin-bottom: 1rem
}
.coleccion-descripcion {
  width: 95%;
  margin: 0;
}
.coleccion-elemento--secundario {
  position: absolute;
  top: .7rem;
	right: .7rem;
	color: #D51834;
	font-size: 2rem;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.coleccion-elemento {
	  background-color: #fff;
	  line-height: 1.5rem;
	  padding: 20px;
	  margin: 0;
	  border-bottom: 1px solid #e0e0e0;
	}
	.coleccion-titulo {
		font-size: 1rem;
	}
	.coleccion-elemento--secundario {
		font-size: 1.6rem;
	}
}

/* DATOS */
.datos-contenedor {
	background: #D51834;
	color: #fff;
	padding: 2.5rem 5rem;
	margin-bottom: 1rem;
}

.datos-contenedor-1 {
	background: #dd465d;
	color: #fff;
	padding: 2.5rem 5rem;
	margin-bottom: 1rem;
}

.datos-contenedor-2 {
	background: #e67485;
	color: #fff;
	padding: 2.5rem 5rem;
	margin-bottom: 1rem;
}

.datos-cifra {
	font-size: 4rem;
	font-weight: 700;
	display: block;
}
.datos-etiqueta {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.8rem;
	text-transform: uppercase;
}

/* PROYECTOS */
.proyecto-titulo {
	margin-top: 1.3rem;
	text-transform: none;
}

.proyecto-metadatos {
	margin: 1.3rem 0;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.proyecto-titulo {
		margin-top: 0;
		text-transform: none;
	}
}

/* POSTS */
.post-titulo {
	margin-top: 1.3rem;
	text-transform: none;
}

.post-metadatos {
	margin: 1.3rem 0;
	color: #666;
	border-left: 4px solid #D51834;
	padding-left: 1rem;
  display: block;
  overflow: hidden;
}
.post-metadatos--categoria span {
  float: left;
  margin-right: 1rem;
}
.post-metadatos--categoria ul {
  list-style-type: none;
  margin: 0;
  display: inline;
  float: left;
}
.post-metadatos--categoria ul li {
  display: inline;
  float: left;
  margin-right: .5rem;
}
.post-metadatos--fecha,
.post-metadatos--autor {
	font-size: 1.1rem;
}
.post-metadatos--fecha span {
	font-weight: bold;
}
.post-metadatos--autor {
	margin-bottom: 1rem;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.post-titulo {
		margin-top: 0;
		text-transform: none;
	}
	.post-metadatos--fecha {
		margin-right: .5rem;
	}
	.post-metadatos--fecha,
	.post-metadatos--autor {
		display: inline;
		float: left;
	}
	.post-metadatos--autor {
		border: none;
		padding: 0;
	}
}

/* FAQS */
.lista-preguntas {
	list-style: none;
	margin-left: 0;
}
.lista-preguntas > li {
	border-bottom: 1px solid #afafaf;
	margin-bottom: 1.3rem;
}
.lista-preguntas > li:last-child {
	border-bottom: none;
}
.lista-preguntas--titulo {
	text-transform: none;
	margin-bottom: 1rem;
}

/* FOOTER */
.footer {
  background-color: #D51834;
  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-image: url(../images/logo_caritas_fondo_negativo.png) !important;
  background-size: 15%;
}
@media screen and (max-width: 39.125em) {
  .footer {
    background-color: #D51834;
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: 50%;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    background-image: none !important;
  }
}

.footer {
	padding: 1rem 0;
}
.footer h1 small {
	margin-left: 3rem;
}
.footer .menu-centrado ul.menu {
	min-width: 600px;
	font-size: 12px;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	.footer {
		padding-top: 0;
	}
	.footer h1 {
		line-height: 3rem;
	}
	.footer h1 small {
		margin-left: 0;
		line-height: 5rem;
	}
}

/* CARRUSELES */
.carrusel-de-uno .owl-item {
	padding: 0;
}
.carrusel-item {
  max-height: 600px;
  overflow: hidden;
}
.carrusel-item .wp-post-image {
  width: 100%;
}

.owl-theme {
  position: relative;
}
.owl-theme .owl-controls {
	position: absolute;
	width: 100%;
	top: -10px;
	right: 0;
	overflow: hidden;
}
.owl-theme .owl-controls .owl-buttons div {
  color: #fff;
  display: inline-block;
  *display: inline;
  padding: 5px 20px;
  font-size: 1.8rem;
	line-height: 3rem;
  background: #D51834;
  margin: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  float: left;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  float: right;
}

/* BANNER */
.banner {
	position: relative;
}
.banner-franja {
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  margin: 0 auto;
  width: 100%;
	padding: 1.5rem 1.5rem;
	position: absolute;
}
.banner-titulo {
  color: #fff;
	font-size: 1.8rem;
	line-height: 2rem;
	margin: 0;
  width: 90%;
}
.banner-enlace {
  position: absolute;
  right: 1.5rem;
  top: 1.8rem;
}
@media screen and (min-width: 0em) and (max-width: 69.750em) {
	.banner .columns {
		padding: 0;
	}
	.banner-franja {
		width: 100%;
		position: relative;
		border-radius: 0;
    background: #333;
    padding: 1rem 1rem;
	}
	.banner-titulo {
		font-size: .8rem;
		line-height: 1.2rem;
    width: 80%;
	}
  .banner-enlace {
    right: 1rem;
    top: 1.2rem;
  }
}

/*	UTILIDADES Versión 0.1
		Clases intercambiables
		que ayudan a la maquetación
***********************************************************************/

/* FORMAS */
.circular {
	border-radius: 50%;
}

/* FLOTADORES */
.flota-derecha {
	float: right;
}

/* TEXTO */
.texto-destacado {
	font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-bottom: 2rem;
}
.texto-destacado--peque {
	font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.7rem;
	margin-bottom: 4rem;
}

.texto-centrado {
  text-align: center;
}
.texto-centrado li {
	margin: 0 auto;
}

.texto-derecha {
  text-align: right;
}

.texto-mini {
	font-size: .8rem;
}

.texto-con-serifa {
	font-family: "Roboto Slab", FreeSerif, "Georgia", "Times New Roman", serif;
}
.texto-sin-serifa {
	font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

.texto-mayuscula {
	text-transform: uppercase;
}

.texto-delgado {
	font-weight: 300;
}

/* COLORES */
.fondo-rojo {
	background: #D51834;
	color: #fff;
}
.fondo-rojo a {
  color: #fff;
}

.fondo-gris--claro {
  background: #F2F2F2;
  border: 0;
}
.fondo-gris--medio,
.fondo-gris--medio a {
  background: #333;
  color: #fff;
}
.fondo-gris--oscuro,
.fondo-gris--oscuro a {
  background: #111;
  color: #fff;
}

/* DECORACIÓN PARA LISTAS */
.lista--entre-lineas li {
  width: 80%;
  border-bottom: 1px solid #ccc;
  padding: .5rem 0;
}
.lista--entre-lineas li:last-child {
  border-bottom: none;
}
.lista--simple,
.lista--simple ul {
  list-style: none;
  margin-left: 0;
}

/* BORDES */
.tiene-borde--arriba {
	border: none;
	border-top: 1px solid rgba(10, 10, 10, 0.25);
}

/* RESEST DE MÁRGENES */
.sin-margen {
	margin: 0;
}
.sin-margen--arriba {
	margin-top: 0;
}
.sin-margen--abajo {
	margin-bottom: 0;
}
.sin-margen--izquierdo {
	margin-left: 0;
}
.sin-margen--derecho {
	margin-right: 0;
}

/* RESET DE RELLENOS */
.sin-relleno {
	padding: 0;
}
.sin-relleno--arriba {
	padding-top: 0;
}
.sin-relleno--abajo {
	padding-bottom: 0;
}
.sin-relleno--izquierdo {
	padding-left: 0;
}
.sin-relleno--derecho {
	padding-right: 0;
}
